.site {
	position: relative;
	width: 100%;
	padding-top: $nav-height;
	min-height: 100%;
	overflow: hidden;
}

.wrap {
	position: relative;
	overflow: hidden;
}

.debug {
	position: fixed;
	display: block;
	text-align: center;
	top: 0;
	width: 100%;
	height: 30px;
	background-color: #fff;
	z-index: 5000;
	display: none;
}

.page {

	position: relative;
	overflow: hidden;
	min-height: 100%;
	padding-top: 0.625rem;

	header {
		display: block;
		overflow: hidden;
		margin-bottom: rem-calc(10);

		.wrapper {
			position: relative;
			z-index: 999;
			overflow: hidden;
			background-color: $black;
		}

		.holder {
			@include clearfix;
			width: 25%;
			position: absolute;
			top: 50px;
			padding-top: rem-calc(20);
			padding-bottom: rem-calc(20);
			z-index: 997;
		}

		h1, h3, h4 {
			padding: 0;
			margin: 0;
			display: block;
			line-height: 1;
			text-transform: uppercase;
			width: 100%;
			color: #fff;
		}

		h1 {
			display: block;
			width: auto;
			font-size: rem-calc(60);
			text-align: center;
			padding-top: rem-calc(0);
			color: #fff;
			
		}

		h3 {
			font-style: italic;
			font-size: rem-calc(14);
			letter-spacing: 1px;
		}

		h4 {
			padding-top: rem-calc(10);
			font-size: rem-calc(14);
			text-align: justify;
			-moz-text-align-last: justify;
			-webkit-text-align-last: justify;
			text-align-last: justify;
			white-space: nowrap;
		}

		h3, h4 {
			padding-left: rem-calc(5);
			padding-right: rem-calc(5);
		}

		h4:after {
			display: inline-block;
			width: 100%;
		}

	}

	.header-cover {
		position: absolute;
		z-index: 998;
		overflow: hidden;
		display: none;
		top: rem-calc(15);
		left: 0;
		width: 100%;
		height: rem-calc(120);
		z-index: 4444;

		div {
			width: 0; 
			height: 0; 
			border-left: 600px solid #fff;
			border-right: 600px solid #fff;

			border-bottom: 120px solid transparent;

		}
	}

	.pixels {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 1000;

		.pixelrow {

			display: block;
			@include clearfix;
			position: relative;
			clear: both;
			top: -2px;

			span {
				display: none;
				width: 30px;
				height: 30px;
				float: left;
				margin-left: -1px;
				position: relative;
			}

			span.f {
				background-color: #fff;
			}

			span.tp {
				border-top: solid 1px $black;
			}

			span.bt {
				border-bottom: solid 1px $black;
			}

			span.rt {
				border-right: solid 1px $black;
			}

			span.lf {
				border-left: solid 1px $black;
			}

			&:first-child {
				top: -1px;
			}

			&:last-child {
				top: -3px;
			}


		}
	}

}

@include breakpoint(medium) {

	.page {

		padding-top: 0.9375rem;
	
		header {

			margin-bottom: rem-calc(15);
			
			h1 {
				font-size: rem-calc(75);
			}

			h3 {
				font-size: rem-calc(16);
			}

			h4 {
				font-size: rem-calc(16);
			}

			.holder {
				padding-top: rem-calc(30);
				padding-bottom: rem-calc(30);
			}

		}

	}

}

@include breakpoint(large) {

	.page {

		header {
			
			h1 {
				font-size: rem-calc(125);
			}

			h3 {
				font-size: rem-calc(20);
			}

			h4 {
				font-size: rem-calc(20);
			}

			h3, h4 {
				padding-left: rem-calc(8);
				padding-right: rem-calc(8);
			}

		}

	}

}

@include breakpoint(xlarge) {

	.page {

		padding-top: 0;
	
		header {

			border-bottom: solid 1px $black;
			
			h1 {
				font-size: rem-calc(220);
				letter-spacing: -5px;
			}

			h3 {
				font-size: rem-calc(24);
			}

			h4 {
				font-size: rem-calc(24);
			}

			h3, h4 {
				padding-left: rem-calc(13);
				padding-right: rem-calc(13);
			}

		}

		.header-cover {

			display: block;
			top: 0;

			div {
				border-left-color: $black;
				border-right-color: $black;	
			}
			
		}

	}

	&.dark {
		header {
			.wrapper {
				background-color: #fff;
			}
			h1, h3, h4 {
				color: $black;
			}
		}
	}


}