nav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9000;
	border-bottom: solid 1px #fff;
	left: 0;

	&.columns {
		padding: 0;
	}

	.nav-content {
		background-color: #fff;
		height: $nav-height;
		border-bottom: solid 1px $black;
		overflow: hidden;
		padding-left: rem-calc(10);
		padding-right: rem-calc(10);
		@include clearfix;

		.logo {
			display: block;
			background-image: url("../img/evident-agenda.png");
			background-repeat: no-repeat;
			background-size: 300px 24px;
			background-position: 0px center;
			width: 150px;
			height: 50px;
			float: left;
		}

		.menu-toggle {
			float: right;
			width: rem-calc(35);
			height: rem-calc(35);
			position: relative;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;
			background-color: $black;
			margin-top: rem-calc(8);

			span {
				display: block;
				position: absolute;
				height: rem-calc(5);
				width: 70%;
				background: #fff;
				opacity: 1;
				left: 0;
				left: 15%;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .25s ease-in-out;
				-moz-transition: .25s ease-in-out;
				-o-transition: .25s ease-in-out;
				transition: .25s ease-in-out;

				&:nth-of-type(1) {
				  top: 7px;
				}

				&:nth-of-type(2), &:nth-of-type(3) {
				  top: 15px;
				}

				&:nth-of-type(4) {
				  top: 23px;
				}

			}
		}

		.nav-items {
			display: block;
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: left;
			float: none;
			clear: both;
			padding-top: rem-calc(10);
			border-top: solid 1px $black;
			@include clearfix;
			width: 100%;
			max-width: 100%;
			

			li {
				@include oswald;
				display: block;
				line-height: rem-calc(30);
				width: 50%;
				float: left;
				margin-bottom: rem-calc(10);
				font-weight: 700;
				text-align: center;
				text-transform: uppercase;					

				a {
					display: block;
					text-decoration: none;
					width: 100%;
					color: #fff;
					padding-left: rem-calc(10);
					padding-right: rem-calc(10);
					line-height: rem-calc(60);
					font-size: rem-calc(20);
					cursor: pointer;
					background-color: $black;

				}

				&:nth-of-type(odd) {
					padding-right: rem-calc(5);
				}

				&:nth-of-type(even) {
					padding-left: rem-calc(5);
				}

				&.theme-title {
					@include muli;
					width: 100%;
					font-weight: 300;
					font-size: rem-calc(12);
					line-height: rem-calc(20);
					text-align: left;
					margin: 0;
					text-transform: none;
				}

				&.theme {

					width: auto;
					padding: 0;
					padding-right: rem-calc(10);

					a {
						padding: 0;
						width: rem-calc(35);
						border: solid 1px $black;
						height: rem-calc(35);
					}
				}

			}
		}
		
	}

	&.opened {
		
		border-bottom: solid 1px $black;
		box-shadow: 0 20px 60px $black;

		.nav-content {

			height: auto;
			border: 0;

			.menu-toggle {
				span {
					&:nth-of-type(1) {
					  top: 15px;
					  width: 0%;
					  left: 50%;
					}

					&:nth-of-type(2) {
					  -webkit-transform: rotate(45deg);
					  -moz-transform: rotate(45deg);
					  -o-transform: rotate(45deg);
					  transform: rotate(45deg);
					}

					&:nth-of-type(3) {
					  -webkit-transform: rotate(-45deg);
					  -moz-transform: rotate(-45deg);
					  -o-transform: rotate(-45deg);
					  transform: rotate(-45deg);
					}

					&:nth-of-type(4) {
					  top: 15px;
					  width: 0%;
					  left: 50%;
					}
				}
				
			}

			
		}
	}
}

@include breakpoint(medium) {

	nav {

		&.columns {
			padding-left: rem-calc(15);
			padding-right: rem-calc(15);
		}

		.nav-content {
			&.row {
				padding: 0;
			}
		}
	}

}

@include breakpoint(large) {

	nav {

		@include acceleration;

		.nav-content {

			.menu-toggle {
				display: none;
			}

			.nav-items {
				display: block;
				clear: none;
				float: right;
				margin-top: rem-calc(9);
				margin-left: rem-calc(10);
				border: 0;
				padding-top: 0;
				width: auto;

				li {
					display: inline-block;
					@include oswald;
					line-height: rem-calc(30);
					text-align: center;
					width: auto;
					float: none;
					margin-bottom: 0;
					font-weight: 300;

					a {
						border: 0;
						display: inline-block;
						color: $black;
						background-color: transparent;
						padding-left: rem-calc(10);
						padding-right: rem-calc(10);
						line-height: rem-calc(32);
						font-size: rem-calc(14);
						cursor: pointer;

						&:hover {
							background-color: $black;
							color: #fff;
						}
					}

					&.theme {

						padding-left: rem-calc(3);
						padding-right: rem-calc(3);

						a {
							padding: 0;
							width: rem-calc(13);
							border: solid 1px $black;
							height: rem-calc(13);
						}
					}

					&.first {
						border-left: solid 1px $black;
						padding-left: rem-calc(15);
					}

					&.theme-title {
						display: none;
					}

				}
			}
		}

		&.opened {

			.nav-content {
				height: $nav-height;
			}
		}
	}

}